.open-sans {
    font-family: "Open Sans";
}

.line {
    text-decoration: line-through;
}

.center {
    text-align: center;
    text-transform: uppercase;
}

.wave {
    text-decoration: wavy;
    word-spacing: 30px;
}

.letter-s {
    text-decoration: double underline;
    letter-spacing: 2px;
}